.modal-body label {
    font-size: 0.9rem;
    font-weight: 500 !important;
}
.lbl {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}
.hm-table {
    width: 100% !important;
}

.tab-content > .active {
    display: inline-flex;
}

.input-title {
    border: 1px solid rgb(224, 224, 224);
    border-bottom: none;
    border-left: none;
}

.clearanceContainer {
    max-width: 600px;
}

.logos {
    display: flex;
    width: 800px;
    margin-top: -100px;
    margin-bottom: 80px;
    justify-content: center;
}

.logos img {
    align-self: center;
    /*height: 100px;*/
}

.logos h4 {
    flex: 1;
    max-width: 300px;
    font-size: 1.2rem !important;
    align-self: center;
    text-align: center;
}

.camera, .cameraResult {
    height: 244px;
    width: 244px;
    border: 2px dashed rgb(207, 207, 207);
}

.camera::after {
    width: 242px;
    content: " ";
    background: url(../Images/human.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: absolute;
    left: 8px;
    top: 2px;
    height:242px;
}

.modal-body .nav-pills .nav-link.active,
.modal-body .nav-pills .show > .nav-link {
    color: #1f2d3d;
    font-weight: 500;
    background-color: #ffc107;
    border-radius: 0px;
}

#dropZone {
    height: 130px;
    border: 2px dashed grey;
    padding: 20px;
    width: 100% !important;
}

#btn-deletePicture {
    position: absolute;
    top: 0;
    right: 0;
}

