html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.content-wrapper {
    margin: 0 7rem;
}

.certificate-wrapper {
    margin: 0 2.5rem;
}
.watermark {
    position: absolute;
    top: 10vh;
    left: 0;
    opacity: 0.2;
    z-index: -100;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-flow: row;
    margin: 0 auto;
    text-align: center;
}

.header img {
    width: 11%;
    margin: 1rem 3rem;
    height: 105px;
}
.line {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 100%;
    margin: 0.5rem 0;
    text-align: center;
}

.line h4 {
    padding-top: 0.3rem;
    font-weight: bold;
}
@media print {
    .header {
        page-break-before: always;
    }
}

.certOfficials,
.certLetters {
    min-height: 1100px !important;
    /* border: 1px solid black; */
}

.certLetter {
    font-size: 1.7rem;
}

.lg-letter {
    font-size: 1.6rem;
}

.md-letter {
    font-size: 1.5rem;
}

.sm-letter {
    font-size: 1.1rem;
}

.t-bold {
    font-weight: bold;
}

.t-boldUnderline {
    font-weight: bold;
    border-bottom: 2px solid black;
}

.letter-title {
    text-decoration: underline;
}

.dryseal p {
    font-style: italic;
    font-weight: bold;
}

.chairmanContainer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.chairmanContainer img {
    max-width: 350px;
    margin-left: 240px;
}

.chairmanContainer .chairmanNameB {
    margin-top: -40px;
    position: absolute;
    top: 15rem;
    left: -120px;
}

.chairmanContainer .chairmanNameB h2 {
    margin-top: -15px;
    margin-left: 0px;
    font-size: 1.4rem;
}

.chairmanContainer .chairmanNameB h1 {
    font-size: 1.7rem;
    font-weight: bold;
}

.chairmanContainer .chairmanNameB img {
    margin-bottom: -50px;
    margin-left: 15px;
}
.chairmanContainer .chairmanName {
    margin-top: -170px;
    position: absolute;
    top: 16rem;
    left: -15px;
}

.chairmanContainer .chairmanName h2 {
    margin-top: -15px;
    margin-left: 0px;
    font-size: 1.4rem;
}

.chairmanContainer .chairmanName img {
    margin-bottom: -50px;
    margin-left: 15px;
}

.chairmanContainer .chairmanName h1 {
    font-size: 1.7rem;
    font-weight: bold;
}
